body {
    background-color:#0c192c ;
}

.container {
    text-align: center;
    color: white;
    width: 320px;
    height: 75%;
    margin: 4rem auto;
    padding: 1.5rem;
    background-color: #15273f;
    border-radius: 20px;
}

.opacity_color {
    position: relative;
    width: 100%;
  }
  
  .nft_img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00fff7;
  }
  
  .opacity_color:hover .overlay {
    opacity: 0.8;
  }
  
  .view_ico {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.nft_ico{
    display: none;
}

.nft_title{
    font-family: 'Outfit_SemiBold', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10%;
    text-decoration: none;
    color: white;
    display: flex;
}

.nft_title:hover{
    font-family: 'Outfit_SemiBold', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10%;
    text-decoration: none;
    color: hsl(178, 100%, 50%);
    display: flex;
}



.nft_text{
    text-align: start;
    margin-top: 10%;
    color: hsl(215, 51%, 70%);
    font-size: 1.1rem;
    font-family: "Outfit_Light", sans-serif;
    line-height: 1.7;
}

.nft_details{
    display: flex;
    margin-top: 10%;
    align-items: center;
    border-bottom: 1px solid hsl(215, 51%, 70%);
    padding-bottom: 5%;

}
.eth_price{
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit_Regular', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-left: 3%;
    width: 100%;
    text-align: start;
}

.nft_day{
    display: flex;
    align-items: center;
    padding-left: 22%;
    font-family: 'Outfit_Regular', sans-serif;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    font-weight: bold;
    width: 100%;
}
.nft_day img {
    padding-right: 1%;
}

.author{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.author a {
text-decoration: none;
color: white;
}

.author a:hover {
    text-decoration: none;
    color: hsl(178, 100%, 50%);
    }
.nft_author{
    padding-left: 8%;
    color: hsl(215, 51%, 70%);
    font-weight: bold;
    padding-right: 2%;
}

.author img {
width: 12%;
height: 10%;
border: 1px solid white;
border-radius: 50%;
}